{
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSameLine": false,
  "requirePragma": false,
  "bracketSpacing": true,
  "useTabs": false,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-stylex-key-sort"]
}
